<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<display-name>jsp05_helloservlet</display-name>
	<welcome-file-list>
		<welcome-file>home.html</welcome-file>
	</welcome-file-list>

	<!-- context-parm : context(프로젝트) 전체에서 사용 -->
	<context-param>
		<param-name>jdbcurl</param-name>
		<param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
	</context-param>

	<servlet>
		<servlet-name>hello</servlet-name>
		<servlet-class>com.hello.controller.HelloServlet</servlet-class>
		<!-- init-parm : 해당 servlet객체 안에서만 사용가능 -->
		<init-param>
			<param-name>driver</param-name>
			<param-value>oracle.jdbc.driver.OracleDriver</param-value>
		</init-param>
		<!-- 서버가 실행될때 같이 실행되는 순서 -->
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>hello</servlet-name>
		<!-- root 앞에 / 없으면 tomcat자체가 실행안됨 -->
		<url-pattern>/hello.do</url-pattern>
	</servlet-mapping>

</web-app>