<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">

	<select id="selecMember" resultType="memberDto">
		SELECT * FROM MEMBER ORDER BY MBNO DESC
	</select>
	
	<select id="selectMemberEnabled" resultType="memberDto">
		SELECT * FROM MEMBER WHERE MBENABLED = Y ORDER BY MBNO DESC
	</select>
	
	<update id="updateMemberRole" parameterType="memberDto">
		UPDATE MEMBER SET MBROLE = #{mbrole} WHERE MBNO = #{mbno}
	</update>
	
	<select id="selectOneMemberLogin" parameterType="map" resultType="memberDto">
		SELECT * FROM MEMBER WHERE MBID = #{mbid} AND MBPW = #{mbpw}
	</select>
	
	<select id="selectOneMemberIdChk" parameterType="string" resultType="memberDto">
	 	SELECT * FROM MEMBER WHERE MBID = #{mbid}
	</select>
	
	<insert id="insertMemberUser" parameterType="memberDto">
		INSERT INTO MEMBER VALUES (MEMBERSEQ.NEXTVAL, #{mbid}, #{mbpw}, #{mbname}, #{mbaddr}, #{mbphone}, #{mbemail}, 'Y', 'USER')
	</insert>
	
	<select id="selectOneMemberUser" parameterType="int" resultType="memberDto">
		select * from member where mbid = #{mbid}
	</select>
	
	<update id="updateMemberUser" parameterType="memberDto">
		UPDATE MEMBER SET mbpw = #{mbpw}, MBADDR = #{mbaddr}, MBPHONE = #{mbphone}, MBEMAIL = #{mbemail} WHERE MBNO = #{mbno}
	</update>
	
	<update id="deleteMemberuser" parameterType="int">
		UPDATE MEMBER SET MBENABLED = N WHERE MBNO = #{mbno}
	</update>
	

</mapper>
